body {
  background-color: #90c0f1;
}

.card {
  margin-top: 20px;
}

#profile-form {
  margin-top: 20px;
}

.notification {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
}

.notification-success {
  background-color: #28a745;
}

.notification-error {
  background-color: #dc3545;
}

.notification-info {
  background-color: #17a2b8;
}

.notification-warning {
  background-color: #ffc107;
}
