<!-- /views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Company Name</h5>
                <p>1234 Street Name<br />City, State, 56789</p>
                <p>Email: info@company.com</p>
                <p>Phone: (123) 456-7890</p>
            </div>
            <div class="col-md-4 mb-3 text-center">
                <h5>Follow Us</h5>
                <div class="social-media">
                    <a href="#" class="mr-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <h5>About Us</h5>
                <p>We are dedicated to providing the best financial tracking solutions to help you manage your income and expenses effectively.</p>
                <p>Our mission is to empower individuals and businesses to take control of their finances with ease and confidence.</p>
            </div>
        </div>
    </div>
</footer>